@import '../../../../styles/main.scss';
#login{

    .nsm7Bb-HzV7m-LgbsSe, .goole-col{
        border: none !important;
    }
    .goole-col{

        .xb-item--field >  div:first-child, .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb{
            height: rem-calc(60) !important;
        }
    }
    .max-w-500{
        max-width: rem-calc(500);
    }
}