@include media-breakpoint-up(xxl) {
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
  .margin-top-lg-up-minus-100 {
    margin-top: rem-calc(-100);
  }

  .margin-top-lg-up-minus-260 {
    margin-top: rem-calc(-260);
  }

  .border-right-lg-up-white {
    border-right: rem-calc(1) solid $white;
  }
}

@include media-breakpoint-up(md) {
  .padding-md-up-12 {
    padding: rem-calc(12) !important;
  }

  #more_filter_section {
    #filter_menu_items {
      .area-square-fit-dropdown {
        .standard-select {
          width: rem-calc(200);
        }
      }

      .area-square-fit-range {
        width: rem-calc(480);
      }

      .width-md-up-58percentage {
        width: 60%;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-down(xxl) {
  //to be discuss
  .select-typeahead {
    width: rem-calc(155);
  }
}

@include media-breakpoint-down(xl) {
  //to be discuss
  .carousel-inner {
    .carousel-image-mh {
      max-height: rem-calc(243);
    }
  }
}

@include media-breakpoint-down(lg) {
  .margin-top-lg-minus-20 {
    margin-top: rem-calc(-20);
  }

  .border-lg-down-none {
    border: 0px !important;
  }

  #multi_file_uploader {
    &.multi-file-uploader {
      .h-lg-down-180 {
        height: rem-calc(180) !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .pagination {
    .page-link {
      font-size: rem-calc(10);
      margin-left: rem-calc(10) !important;
    }
    [role="button"] {
      width: rem-calc(20);
      height: rem-calc(20);
      font-size: rem-calc(10) !important;
    }
    .page-item {
      &:first-child {
        .page-link {
          padding-left: 0px !important;
          padding-right: 0px !important;
          padding-top: rem-calc(3) !important;
          width: max-content !important;
        }
      }
      &:last-child {
        .page-link {
          width: max-content !important;
          padding-left: rem-calc(2) !important;
          padding-right: 0px !important;
          padding-top: rem-calc(3) !important;
        }
      }
    }
  }

  .border-md-down-none {
    border: 0px !important;
  }

  #home_loan_section_3 {
    .home-loan-bank-partners {
      .home-loan-bank-partners-items {
        .home-loan-bank-partners-img {
          height: auto !important;
          width: rem-calc(75) !important;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .padding-y-sm-down-20 {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
  }

  .border-sm-down-none {
    border: 0px !important;
  }

  .toast-message-container {
    li {
      padding: rem-calc(12) !important;
    }
  }

  #owner_properties,
  #immediately_available,
  #recommended_properties,
  #slider_section,
  #statistics_section {
    .react-multi-carousel-list {
      .react-multi-carousel-track {
        .react-multi-carousel-item {
          &.react-multi-carousel-item--active {
            width: rem-calc(173) !important;
          }
          .property-slider-small-card {
            height: rem-calc(180);
            width: rem-calc(160);
          }
        }
      }
    }
  }

  #home_loan_section_3 {
    .home-loan-bank-partners {
      .home-loan-bank-partners-items {
        .home-loan-bank-partners-btn {
          min-width: rem-calc(90) !important;
        }
      }
    }
  }

  #single_property_detail {
    .property-detail-main-img {
      height: rem-calc(176);
    }
    .property-detail-sub-img {
      height: rem-calc(93);
    }
  }

  #owner_properties,
  #immediately_available,
  #recommended_properties,
  #slider_section,
  #statistics_section,
  #top_localities_section {
    .react-multi-carousel-list {
      .react-multiple-carousel__arrow {
        min-width: rem-calc(43);
        min-height: rem-calc(32);
        &.react-multiple-carousel__arrow--left {
          left: rem-calc(0);
        }
        &.react-multiple-carousel__arrow--right {
          right: rem-calc(0);
        }
      }
    }
  }

  #places {
    .icon-text {
      font-size: rem-calc(11.25);
    }
  }

  #progress_bar_main {
    .progress-bar-main {
      .progress-bar-line {
        .progress {
          height: rem-calc(11) !important;
        }
      }
    }
  }

  #property_type_items {
    .property-type-item {
      height: rem-calc(128);
    }
  }

  #header_menu_section {
    .header-res-border {
      border-bottom: rem-calc(1) solid $icon-border;
    }
  }

  #business_partner,
  #about_us_section_1 {
    .mask-image-right {
      width: rem-calc(142);
    }

    .mask-img {
      width: rem-calc(194);
    }
  }

  #multi_file_uploader {
    &.multi-file-uploader {
      .upload-image img {
        width: rem-calc(100);
      }
      .h-sm-down-136 {
        height: rem-calc(136) !important;
      }
    }
  }

  //to be discuss

  #file_uploader {
    .uploaded-image {
      width: rem-calc(100) !important;
    }

    .elipsis-file-name {
      width: rem-calc(100) !important;
    }

    .remove-file-icon {
      width: rem-calc(15);
      height: rem-calc(15);
      left: 3.5%;
      top: 7%;

      img {
        width: rem-calc(5);
      }
    }
  }

  // .standard-dropdown-control .css-13cymwt-control .react-select__placeholder {
  //   font-size: rem-calc(12) !important;
  // }

  // #add_property_stepper_main {
  //   .add-property-steps {
  //     #add_property_progress_stepper {
  //       height: rem-calc(5) !important;
  //       width: 80%;
  //     }

  //     .add-property-item {
  //       .add-property-button {
  //         border: 0px;
  //         padding: 0px !important;
  //         width: auto !important;
  //         height: auto !important;

  //         span {
  //           width: rem-calc(20) !important;
  //           height: rem-calc(20) !important;
  //           padding: 0px !important;
  //           font-size: rem-calc(12);
  //           font-weight: 600;
  //         }
  //       }

  //       .add-property-title {
  //         font-size: rem-calc(8) !important;
  //       }
  //     }
  //   }
  // }

  .standard-dropdown-label {
    font-size: rem-calc(12) !important;
  }

  .standard-input {
    ::placeholder {
      font-size: rem-calc(12) !important;
    }

    .border-less input.form-control {
      font-size: rem-calc(12) !important;
      height: rem-calc(24) !important;
    }

    label {
      font-size: rem-calc(12) !important;
      margin-bottom: rem-calc(2);
    }
  }

  .standard-date-picker {
    ::placeholder {
      font-size: rem-calc(12) !important;
    }

    input {
      min-height: rem-calc(20) !important;
      font-size: rem-calc(12) !important;
    }
  }

  .single-select-head {
    font-size: rem-calc(12) !important;
  }

  .carousel-caption {
    right: 0%;
    left: 0;
  }

  // .responsive-property-card {
  //   .accordion-button {
  //     .col-4 {
  //       padding-left: rem-calc(2) !important;
  //       padding-right: rem-calc(2) !important;
  //     }
  //   }

  //   .responsive-card-button {
  //     .btn {
  //       min-width: rem-calc(65);
  //       max-width: rem-calc(65);
  //       height: rem-calc(18) !important;
  //     }
  //   }

  //   .responsive-user-card-button {
  //     .btn {
  //       min-width: rem-calc(80);
  //       max-width: rem-calc(80);
  //       height: rem-calc(18) !important;
  //     }
  //   }

  //   .field {
  //     font-size: rem-calc(8);
  //   }

  //   .label {
  //     font-size: rem-calc(8);
  //   }
  // }

  // .aminities {
  //   img {
  //     width: rem-calc(11);
  //     height: rem-calc(12);
  //   }

  //   .verticle-line-small {
  //     height: rem-calc(10);
  //   }
  // }

  // .property-contact {
  //   .btn {
  //     min-width: rem-calc(57);

  //     img {
  //       width: rem-calc(6);
  //     }
  //   }

  //   .btn.small {
  //     height: rem-calc(16) !important;
  //   }

  //   .brochure-download {
  //     img {
  //       width: rem-calc(14);
  //     }
  //   }
  // }

  // #property-listing {
  //   .label {
  //     font-size: rem-calc(8);
  //   }

  //   .field {
  //     font-size: rem-calc(9);
  //   }
  // }

  // .filter-bar {
  //   .property-type-dropdown {
  //     width: rem-calc(74);
  //   }

  //   .css-1jqq78o-placeholder {
  //     width: rem-calc(140);
  //     font-size: rem-calc(9);
  //   }
  // }
}
.property-detail-sub-img{
  height: 93px; 
}
@media  (min-width:1200px) and (max-width: 1400px) {
  #property_listing {
    .sort-by-property {
      width: rem-calc(180) !important;
      .standard-select {
        .standard-dropdown-control {
          .standard-select__control{
            width: 100% !important;
          }
          }
        }
      }
    }
  }



@media only screen and (max-width: 650px) {
  .property-detail-sub-img{
    height: auto; 
  }
  #single_property_detail .property-detail-main-img {
    height: 18.75rem; 
}

}
@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 382px) {
}

@media only screen and (max-width: 320px) {
}